body {
  background-color: #f7f9f2;
}
.grid-container {
  width: 600px;
  height: 600px;
  border-radius: 30px;
  padding: 20px;
  background: #f7f9f2;
  box-shadow: 20px 20px 60px #d2d4ce, -20px -20px 60px #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
}
.active {
  background-color: #021526; /* Adjust the background color */
  /* border: 1px solid white; Adjust the border color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* Adjust the font size */
}

.grid-item {
  /* background-color: #ffffff; */
  padding: 10px;
  /* border-radius: 5px; */
}

.grid-item > svg {
  height: auto;
  width: auto;
  cursor: pointer;
}

.shapes-container {
  width: 300px;
  height: 600px;
  border-radius: 30px;
  padding: 20px;
  background: #f7f9f2;
  box-shadow: 20px 20px 60px #d2d4ce, -20px -20px 60px #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: auto; /* Enable scrolling if content overflows */
}

.shape-wrapper {
  display: inline-block;
  margin: 10px;
}

.shape-wrapper > svg {
  width: 80px; /* Adjusted width to fit within the container */
  height: 80px; /* Ensure consistent height */
  cursor: pointer;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.shape-wrapper > svg:hover {
  -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}

.full-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

#button-area {
  display: flex;
  flex-direction: column;
}

button {
  height: max-content;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #00a2f1;
  border-bottom: 7px solid #058bcd;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  max-width: fit-content;
  margin-bottom: 5%;
}
